@CHARSET "UTF-8";
body
{
	font-family: arial;
	font-size: small;
	text-aling: center;
}
div.contenedor
{
	clear: both;
	text-align: center;
	margin-top: 5%;
}
div.cajaTextoSimple
{
	font-weight: bold; 
	padding: 1em; 
	width: 400px; 
	margin-left:auto;
    margin-right:auto;
	/*text-decoration: underline;*/
}

div.cajaFormulario
{
	padding: 1em; 
	display: inline-block;
	display:inline-block;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
	border: solid 1px; 
}


div.cajaTextoError
{
	padding: 1em; 
	display: inline-block;
	display:inline-block;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
	border: solid 2px red;  
}

.borde
{
	border: solid 1px; 
}

div.bCentrado
{
	text-align: center;
	margin: .5em;
}

div.cajaFormulario ul
{
	list-style-type: none;
}

div.cajaFormulario ul li
{
	margin: .5em;
}

div.cajaFormulario span.msgerror
{
	color: red;
	font-weight: bold;
	display: inline;
}

span.consola
{

}